* {
  font-family: "Montserrat";
  font-family: "Noto Sans TC";
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main-color: #ff6600;
  --primary-color: #0062ff;
  --secondary-color: #6c757d;
  --success-color: #3dd598;
  --warn-color: #ffc542;
  --error-color: #fc5a5a;
  --new-color: #50b5ff;
  --border-color: #e6ecf0;
  --input-default-border: #657786;
  --input-background: #f5f8fa;
  --input-hover-border: #50b5ff;
  --dark-100: #171725;
  --dark-90: #44444f;
  --dark-80: #696974;
  --dark-70: #92929d;
  --dark-60: #b5b2be;
  --dark-50: #d5d5dc;
  --dark-40: #e2e2ea;
  --dark-30: #f1f1f5;
  --dark-20: #fafafb;
}

:global {
  .swal2-container.swal2-top > .swal2-popup,
  .swal2-container.swal2-top > .swal2-popup {
    display: grid !important;
    grid-template-columns: auto 1fr !important;
    grid-template-areas: "title title icon" !important;
    .swal2-icon {
      grid-area: icon !important;
    }
    .swal2-title {
      grid-area: title !important;
    }
  }

  @media screen and (min-width: 576px) {
    body.swal2-toast-shown .swal2-container.swal2-top {
      right: 0 !important;
      left: auto !important;
      transform: unset!important;
    }
  }
}
